/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

html {
    box-sizing: border-box;
    animation: Fade-To-Black 1s ease-in;
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #3b3a36;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: #3b3a36;
}

div.separator {
    background-color: #3b3a36;
    height: 12px;
    width: 100%;
}

/* Animations */
@keyframes Fade-To-Black {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes slide {
    from {
        left: -30%;
    }

    to {
        left: 16%;
    }
}

/* Header */
.header {
    height: 100vh;
    width: 100%;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header .text {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
}

.header .text h1 {
    color: #b6b4ad;
    font-size: 30px;
    padding: 60px 0;
}

.header .text h2 {
    color: #b6b4ad;
    font-size: 24px;
    padding-bottom: 80px;
}

.header .text button {
    border: 2px solid #b6b4ad;
    padding: 15px 25px;
    border-radius: 40px;
    color: #b6b4ad;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
}

/* Section Description */
.description {
    background-color: rgba(214, 166, 118, 0.25);
    padding: 30px 0;
}

.description .wrap-description {
    width: 80%;
    margin: 0 auto;
}

.description p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 150%;
}

.description p span {
    font-weight: bold;
}

/* Section Features */
.features {
    background-color: rgba(214, 166, 118, 0.25);
    padding: 30px 0 15px 0;
}

.features .wrap-features {
    width: 80%;
    margin: 0 auto;
}

.features .feature i {
    padding-right: 10px;
}

.features .feature {
    margin-bottom: 30px;
}

.features .feature h3,
h4,
h5 {
    font-size: 22px;
    padding-bottom: 10px;
}

.features .feature p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 150%;
}

/* Section Download */
.download {
    background-color: rgba(214, 166, 118, 0.25);
    padding: 30px 0 20px 0;
}

.download .download-h {
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
    padding-bottom: 30px;
}

.download .wrap-download {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.download .torrent a,
.direct a {
    padding: 25px 0;
    display: block;
    font-size: 24px;
}

.download .torrent h2,
.direct h2 {
    font-size: 20px;
}

/* Section Contact-us */
.contact-us {
    background-color: rgba(214, 166, 118, 0.25);
    padding: 30px 0;
}

.contact-us .contact-us-wrap {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.contact-us .p-contact {
    font-size: 22px;
    padding-bottom: 20px
}

.contact-us .input {
    text-align: center;
}

.contact-us .input .mail {
    border-radius: 40px;
    border: 2px solid #3b3a36;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.contact-us .input .question {
    height: 160px;
    border-radius: 20px;
    border: 2px solid #3b3a36;
    padding: 10px 20px;
}

/* Footer */
.footer {
    background-color: rgba(214, 166, 118, 0.25);
    padding: 30px 0;
}

.contact {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.contact h2,
h3,
h4,
h5 {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.contact h2 {
    padding-bottom: 15px;
}

.contact h3 {
    padding-bottom: 15px;
}

.contact h4 {
    padding-bottom: 15px;
}


/* Media Queries */
@media(min-width:410px) and (orientation:portrait) {
    .header .text {
        padding-top: 100px;

    }

    .header .text h1 {
        font-size: 32px;
        padding: 70px 0;
    }

    .header .text h2 {
        font-size: 26px;
        padding-bottom: 90px;
    }

    .description p {
        font-size: 17px;

    }

    .features .feature h3,
    h4,
    h5 {
        font-size: 24px;
        padding-bottom: 15px;
    }

    .features .feature p {
        font-size: 16px;
    }

    .download .download-h {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 26px;
        padding-bottom: 35px;
    }
}

@media(min-width:768px) and (orientation:portrait) {
    .header .text {
        padding-top: 220px;

    }

    .header .text h1 {
        font-size: 42px;
        padding: 90px 0;
    }

    .header .text h2 {
        font-size: 34px;
    }

    .header .text button {
        border: 3px solid #b6b4ad;
        padding: 20px 30px;
        font-size: 26px;

    }

    .description p {
        font-size: 22px;
    }

    .features .feature h3,
    h4,
    h5 {
        font-size: 28px;
        padding-bottom: 20px;
    }

    .features .feature p {
        font-size: 20px;
    }

    .download .download-h {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 34px;
        padding-bottom: 50px;
        padding-top: 10px;
    }

    .download .torrent a,
    .direct a {
        padding: 35px 0;
        display: block;
        font-size: 32px;
    }

    .download .torrent h2,
    .direct h2 {
        font-size: 24px;
    }

    .contact-us .p-contact {
        font-size: 26px;
        padding-bottom: 40px
    }

    .contact-us .input {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 auto;
    }

    .contact-us .input .mail {
        padding: 15px 25px;
        margin-bottom: 20px;
    }

    .contact-us .input .question {
        height: 160px;
        border-radius: 20px;
        border: 2px solid #3b3a36;
        padding: 10px 20px;
    }

    .contact h2,
    h3,
    h4,
    h5 {
        font-size: 22px;
    }

}

@media(min-width:1024px) and (orientation:portrait) {
    .header .text {
        padding-top: 340px;

    }

    .header .text h1 {
        font-size: 50px;
        padding: 110px 0;
    }

    .header .text h2 {
        font-size: 40px;
        padding-bottom: 110px;
    }

    .header .text button {
        border-radius: 0px;
        font-size: 32px;

    }

    .description p {
        font-size: 30px;
    }

    .features .feature h3,
    h4,
    h5 {
        font-size: 36px;
    }

    .features .feature p {
        font-size: 28px;
    }

    .download .wrap-download {
        display: flex;
        justify-content: space-between;
    }

    .download .download-h {
        font-size: 42px;
        padding-bottom: 50px;
        padding-top: 10px;
    }

    .download .torrent a,
    .direct a {
        font-size: 38px;
    }

    .download .torrent h2,
    .direct h2 {
        font-size: 34px;
    }

    .contact-us .p-contact {
        font-size: 34px;
    }

    .contact-us .input .mail {
        padding: 15px 25px;
        margin-bottom: 20px;
    }

    .contact-us .input .question {
        height: 200px;
        border-radius: 20px;
        border: 2px solid #3b3a36;
        padding: 10px 20px;
    }

    .contact h2,
    h3,
    h4,
    h5 {
        font-size: 28px;
    }
}

/* Media Queries Landscape */
@media(min-width:532px) and (orientation:landscape) {
    .header .text {
        padding-top: 20px;
    }

    .header .text h1 {
        font-size: 24px;
        padding: 50px 0;
    }

    .header .text h2 {
        font-size: 22px;
        padding-bottom: 50px;
    }

    .header .text button {
        border-radius: 0px;
        font-size: 18px;
    }

    .description p {
        font-size: 16px;
    }

    .features .feature h3,
    h4,
    h5 {
        font-size: 22px;
    }

    .features .feature p {
        font-size: 16px;
    }

    .download .download-h {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 28px;
        padding-bottom: 50px;
        padding-top: 10px;
    }

    .download .torrent a,
    .direct a {
        font-size: 24px;
    }

    .download .torrent h2,
    .direct h2 {
        font-size: 24px;
    }

    .contact-us .p-contact {
        font-size: 21px;
        padding-bottom: 40px;
    }

    .contact h2,
    h3,
    h4,
    h5 {
        font-size: 16px;
    }
}

@media(min-width:640px) and (orientation:landscape) {
    .header .text {
        padding-top: 40px;
    }

    .contact-us .input {
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }
}

@media(min-width:710px) and (orientation:landscape) {
    .header .text {
        padding-top: 55px;
    }
}

@media(min-width:1024px) and (orientation:landscape) {
    .header .text {
        text-align: left;
        position: absolute;
        left: 16%;
        bottom: 40%;
        animation: slide 1s ease-out backwards 1s;
    }

    .header .text h1 {
        font-size: 32px;
        padding: 50px 0;
    }

    .header .text h2 {
        font-size: 26px;
    }

    .header .text button {
        border: 2px solid #b6b4ad;
        padding: 15px 25px;
        font-size: 22px;
        transition: 0.6s ease;
    }

    .header .text button:hover {
        color: #9fa8a3;
        background-color: #e3e0cf;
    }

    .description p {
        font-size: 18px;
    }

    .features .feature h3,
    h4,
    h5 {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .features .feature p {
        font-size: 18px;
    }

    .wrap-download {
        display: flex;
        justify-content: space-around;
    }

    .download {
        padding: 5vh 0;
    }

    .download .download-h {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 38px;
        padding-bottom: 50px;
        padding-top: 10px;
    }

    .download .torrent a,
    .direct a {
        font-size: 48px;
    }

    .download .torrent a i,
    .direct a i {
        cursor: pointer;
    }

    .download .torrent h2,
    .direct h2 {
        font-size: 24px;
        padding-bottom: 40px;
    }

    .contact-us {
        padding: 5vh 0;
    }

    .contact-us .p-contact {
        font-size: 24px;
        padding-bottom: 80px;
    }

    .contact h2,
    h3,
    h4,
    h5 {
        font-size: 18px;
    }
}

@media(min-width:1366px) {
    .header .text {
        left: 16%;
        bottom: 40%;
    }

    .header .text h1 {
        font-size: 36px;
        padding: 80px 0;
    }

    .header .text h2 {
        font-size: 30px;
        padding-bottom: 80px;
    }

    .header .text button {
        padding: 15px 25px;
        font-size: 26px;
    }

    .description {
        padding: 10vh 0;
        background-image: url(../images/description2.jpg);
        background-size: cover;
        background-position: center;
    }

    .description .wrap-description {
        width: 78%;
        margin: 0 auto;
    }

    .description p {
        font-size: 22px;
        width: 40%;
    }

    .features {
        padding: 7vh 0 5vh 0;
    }

    .features .feature {
        width: 31%;
    }

    .features .wrap-features {
        display: flex;
        justify-content: space-around;
    }

    .features .feature h3,
    h4,
    h5 {
        font-size: 26px;
        padding-bottom: 30px;
        padding-top: 10px;
    }

    .features .feature p {
        font-size: 22px;
    }

    .wrap-download {
        display: flex;
        justify-content: space-around;
    }

    .contact-us .p-contact {
        font-size: 26px;
        padding-bottom: 40px;
    }

    .contact-us .input {
        width: 20%;
        margin: 0 auto;
    }

    .contact {
        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    .contact h2,
    h3,
    h4,
    h5 {
        font-size: 18px;
        padding: 0;
    }
}

@media(min-width:1600px) {
    .header .text {
        bottom: 30%;
    }
}